{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h4>Réinitialisation de mot de passe</h4>
             {# Pour récuperer mon formulaire et entre () je met le nom du formulaire #}
             {{ form_start(requestPassForm) }}
                    {{ form_row(requestPassForm.email) }}
                   {#}Pour passer mon input mail avant le bouton {#} 
                   <button class="btn btn-lg btn-primary mt-3" type="submit">Envoyer</button>
             {{ form_end(requestPassForm) }}
             
        
        </div>
    </div>
</section>

{% endblock %}